<ion-content>

    <ion-card class="container" *ngIf="!this.globalVars.getIsConnected()">
        <ion-card-header>Offline</ion-card-header>
            <ion-card-content padding>
                <button class='btn btn-primary' (click)="this.globalVars.open('wifi')">Open Wifi settings</button>
            </ion-card-content>
    </ion-card>

    <div *ngIf="this.globalVars.getIsConnected()" class="container">    
        <div>
            <ion-img class="app-icon" width="150" height="100" src="../../assets/imgs/app_icon.png"></ion-img>
            <p class="white-text app-name-text">Virtual Practice Room</p>
        </div>

        <div class="row" *ngIf="this.show_login">
            <form class="col s12">
                    <p class="white-text credentials-text">Please enter your credentials.</p>
                <div class="row" margin>
                    <div class="input-group input-group-lg">
                        <input class="form-control" [(ngModel)]="username" placeholder="Username" id="username" type="text" name="username" required>
                    </div>
                    <div class="input-group input-group-lg">
                        <input class="form-control" [(ngModel)]="password" placeholder="Password" id="password" type="password" name="password" required>
                    </div>
                </div>
                <div class="row" margin>
                    <div class="col s12">
                        <button class="btn btn-lg login-btn" type="submit" name="action" (click)="login()">Login</button>
                    </div>
                </div>
                <div class="row">
                    <p class="col s12 white-text">Don't have an account? <button (click)="showLogin(false)" style="color: white;background: #f26e40;border-bottom: 1px solid white">Register</button></p>
                </div>
            </form>
        </div>

        <div class="row" *ngIf="this.show_registration">
            <form class="col s12">
                <p class="white-text credentials-text">Tell us about yourself.</p>
                <ion-slides pager>
                    <ion-slide>
                        <div class="row" padding>
                            <div class="input-group input-group-lg">
                                <input class="form-control" [(ngModel)]="username" placeholder="Username" id="username" type="text" name="username">
                            </div>
                            
                            <div class="input-group input-group-lg">
                                <input class="form-control" [(ngModel)]="password" placeholder="Password" id="password" type="password" name="password">
                            </div>
                        
                            <div class="input-group input-group-lg">
                                <input class="form-control" [(ngModel)]="conf_password" placeholder="Confirm password" id="conf_password" type="password" name="conf_password">
                            </div>
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="row" padding>
                            <div class="input-group input-group-lg">
                                <input class="form-control" [(ngModel)]="f_name" placeholder="First Name" id="f_name" type="text" name="f_name">
                            </div>
                            <div class="input-group input-group-lg">
                                <input class="form-control" [(ngModel)]="l_name" placeholder="Last Name" id="l_name" type="text" name="l_name">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
                
                <div class="row" margin>
                    <div class="col s12">
                        <button class="btn btn-lg login-btn" type="submit" name="register" (click)="register()">Sign Up</button>
                    </div>
                </div>
                <div class="row">
                    <p class="col s12 white-text">Have an account? <button (click)="showLogin(true)" style="color: white;background: #f26e40;border-bottom: 1px solid white"> Login</button></p>
                </div>
            </form>
        </div>
        
        <div class="row bottom-view">
            <p class="col s12 white-text">VPR Copyright © 2019</p>
        </div>
    </div>

</ion-content>
  