page-question {
    .submit-btn{
        background: #f26e40;
        color: #fff;
        width: 100%;
        border-radius: 5px;
    }
    
    .submit-btn:hover{
        background: #fff;
        color: #f26e40;
    }
    
    .submit-btn:focus{
        background: #fff;
        color: #f26e40;
    }
    
    .bottom-view{
        position: absolute;
        left: 0;
        bottom: 0; 
        right : 0;
    }

    .correct-answer{
        background: #28a745!important;
    }

    .success-msg{
        color: white;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
    }

    .wrong-answer{
        background: #dc3545!important;
    }

    .warning{
        color: black;
        background: #f7ecb5!important;
    }

    .bg-light-green{
        background: #dff0d8;
        margin-bottom: 5px;
    }

    .bg-light-red{
        background: #f2dede;
        margin-bottom: 5px;
    }
}




