// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-header ion-icon.back-button-icon.icon {
  color:  #f26e40;
}

.hidden{
  display: none
}

.show{
  display: block
}

ion-spinner {
  position: fixed;
  z-index: 999;
  height: 5em;
  width: em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
  }
}

.white-text{
  color: #fff;
}

.orange-text{
  color: #f26e40;
}

/* label focus color */
.input-field input:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #f26e40 !important;
 }

/* label underline focus color */
 .input-field input:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f26e40 !important;
  box-shadow: 0 1px 0 0 #f26e40 !important;
 }

 .text_input{
   width: 100%;
   border: 0;
   margin-bottom: 10px;
   border-bottom: 1px solid #f26e40;
 }

 .add_btn{
   width: 100%;
   background: #f26e40;
   color: #fff;
   height: 50px;
   border-radius: 5px;
   margin-top:5px;
 }

 .add_btn:hover{
  background: #fff;
  color: #f26e40;
}

.add_btn:active{
  background: #fff;
  color: #f26e40;
}

.add_btn:focus{
  background: #f26e40;
  color: #fff;
}

 @import "../assets/styles/css/bootstrap.css";


 side-menu-content {

  $active-color: map-get($colors, primary);

  // In this example, we have used the following name
  // for the selected option in the settings object:
  // selectedOptionClass: 'active-side-menu-option'

  // Single option
  // ------------------
  ion-item.item.item-block.option {
      background-color: #fff;
      color: #222;

      &.active-side-menu-option {
          color: $active-color;
          font-weight: 700;
      }
  }

  // Header
  // ------------------
  ion-item.item.item-block.header {
      background-color: #eee;
      color: #222;

      &.active-side-menu-option {
          color: $active-color;
          font-weight: 700;
      }
  }

  // Sub option
  // ------------------
  ion-item.item.item-block.sub-option {
      background-color: #fff;
      color: #222;

      &.active-side-menu-option {
          color: $active-color;
          font-weight: 700;            
      }
  }
}

.buttonCss{
  button{
      color:#f26e40 !important;
  }
}

.alert-submit-btn{
  color:#f26e40 !important;
}

.swiper-pagination-bullet-active{
  background: color($colors, light) !important;
  opacity: 1;
}

