blue-bar-bttm{
  border-bottom: 2px solid #488aff;
}

.gray-bckgrd{
  background-color: #EEEEEA;
}

.blue-left-bar{
  border-left: 5px solid #488aff;
}

.text-center{
  text-align: center;
}

.separator{
  border-left:1px solid #EEE;
  padding-bottom: 50px;
}
